header{
    position: fixed;
    width: 100vw;
    height: 8vh;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 7);
    background-color: white;
    border: 2px solid white;
    z-index: 100000;

}
header>ul>li{
    display: inline-block;
    padding-left: 5vw;
}

header>ul{
    position: absolute;
    right: 10vw;

}

header>ul>li{
    -webkit-text-fill-color: black;
}


body{
    background-color: white;
}

body>main>section:nth-child(1){
    margin-top: 0;
    width: 100vw;
    height: 110vh;
}

body>main>section:nth-child(1)>img{
    display: inline-block;
    margin-top: -150px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

body>main>section:nth-child(1)>hgroup{
    position: absolute;
    top: 300px;
    left: 300px;
}

body>main>section:nth-child(1)>hgroup>p{
    font-size: 50px;
    -webkit-text-fill-color: white;
    margin-top: -50px;

}

body>main>section:nth-child(1)>hgroup>h2{
    font-size: 60px;
    font-weight: bolder;
    -webkit-text-fill-color: white;
    margin-top: -50px;
}

body>main>section:nth-child(1)>hgroup>h3{
    font-size: 25px;
    -webkit-text-fill-color: white;
    margin-top: -30px;
}

body>main>section:nth-child(1)>hgroup>button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    -webkit-text-fill-color: white;
    font-size: 20px;
    width: 262px;
    height: 55px;

}

body>main>section:nth-child(2){
    text-align: center;
    width: 100vw;
    height: 70vh;
    margin-top: -100px;
}

body>main>section:nth-child(2)>p{
    font-size: 16px;
    color: #3391FF;
}

body>main>section:nth-child(2)>h1{
    margin-top: -20px;
    font-size: 60px;
    color: black;
}

body>main>section:nth-child(2)>section{
    display: flex;
    width: 100vw;
    height: 40vh;
}

body>main>section:nth-child(2)>section>div{
}
