header{
    position: fixed;
    width: 100vw;
    height: 8vh;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 7);
    background-color: white;
    border: 2px solid white;
    z-index: 100000;

}
header>ul>li{
    display: inline-block;
    padding-left: 5vw;
}

header>ul{
    position: absolute;
    right: 10vw;

}

header>ul>li{
    -webkit-text-fill-color: black;
}


body{
    background-color: white;
}

body>main>section:nth-child(1){
    margin-top: 0;
    width: 100vw;
    height: 110vh;
}

body>main>section:nth-child(1)>img{
    display: inline-block;
    margin-top: -150px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

body>main>section:nth-child(1)>hgroup{
    position: absolute;
    top: 300px;
    left: 300px;
}

body>main>section:nth-child(1)>hgroup>p{
    font-size: 50px;
    -webkit-text-fill-color: white;
    margin-top: -50px;
    font-weight: 1;

}

body>main>section:nth-child(1)>hgroup>h2{
    font-size: 60px;
    font-weight: bolder;
    -webkit-text-fill-color: white;
    margin-top: -50px;
}

body>main>section:nth-child(1)>hgroup>h3{
    font-size: 25px;
    -webkit-text-fill-color: white;
    margin-top: -30px;
    font-weight: lighter;
}

body>main>section:nth-child(1)>hgroup>button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    -webkit-text-fill-color: white;
    font-size: 20px;
    width: 262px;
    height: 55px;

}

body>main>section:nth-child(2){
    text-align: center;
    width: 100vw;
    height: 70vh;
    margin-top: -100px;
}

body>main>section:nth-child(2)>p{
    font-size: 16px;
    color: #3391FF;
}

body>main>section:nth-child(2)>h1{
    margin-top: -20px;
    font-size: 60px;
    color: black;
}

body>main>section:nth-child(2)>section{
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: space-around;

}

body>main>section:nth-child(2)>section>div {
    border: 2px solid rgba(90, 139, 197, 0.28);
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(51, 145, 255, 0.31);

}

body>main>section:nth-child(2)>section>div>h1{
    font-size: 40px;
    font-weight: lighter;

}

body>main>section:nth-child(2)>section>div>p{
    font-size: 1.1vw;
    font-weight: lighter;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>p{
    text-align: left;
    margin-left: 60px;
    font-weight: lighter;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>p>span{
    font-weight: 600;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(2)>img{
    display: block;
    margin-top: 30px;
    margin-left: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3){
    display: block;
    margin-top: -215px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3)>p{
    font-size: 25px;
    margin-top: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3)>p:nth-child(1){
    margin-left: -50px;
}


body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3)>p:nth-child(2){
    margin-left: 10px;
}

