header{
    position: fixed;
    width: 100%;
    height: 8vh;
    opacity: 0.7;
    background-color: #3391FF;
    border: 1px solid blue;
    z-index: 100000;

}

header>img{
    position: relative;
    top: 10px;
    left: 30px;
    display: inline-block;
}
header>ul>li{
    display: inline-block;
    padding-left: 5vw;
    list-style: none;
    text-decoration: none;
    -webkit-text-fill-color: black;
    color:black;
    font-weight: bolder;
}

header>ul>li>a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    opacity: 100;

}

header>ul{
    position: absolute;
    top: 10px;
    right: 10vw;
    list-style: none;
    color: black;

}

header>ul>li{
}


body{
    background-color: white;
}

body>main>section:nth-child(1){
    margin-top: 0;
    width: 100%;
    height: 110vh;
}

body>main>section:nth-child(1)>img:nth-child(3){
    display: inline-block;
    margin-top: -150px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

body>main>section:nth-child(1)>img:nth-child(4){
    top:-74.5vh;
    left: 69vw;
    position: relative;
    width: 30vw;
    height: 74vh;
}

body>main>section:nth-child(1)>hgroup{
    position: absolute;
    top: 400px;
    left: 300px;
}

body>main>section:nth-child(1)>hgroup>p:nth-child(1){
    margin-bottom: 80px;
    font-size: 4vw;
    -webkit-text-fill-color: white;
    margin-top: -50px;
    font-weight: 1;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */


}

body>main>section:nth-child(1)>hgroup>h2{
    font-size: 5vw;
    font-weight: bolder;
    -webkit-text-fill-color: white;
    margin-top: -70px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */

}

body>main>section:nth-child(1)>hgroup>p:nth-child(4){
    font-size: 2vw;
    -webkit-text-fill-color: white;
    margin-top: -50px;
    letter-spacing: 0.3em;
    font-weight: 1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */

}

body>main>section:nth-child(1)>hgroup>button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    -webkit-text-fill-color: white;
    font-size: 1.5vw;
    width: 15vw;
    height: 5vh;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 4); /* Add a small dark shadow */


}

body>main>section:nth-child(1)>hgroup>button>a{
    color: white;
    text-decoration: none;

}

body>main>section:nth-child(2){
    text-align: center;
    width: 100vw;
    height: 70vh;
    margin-top: -100px;
}

body>main>section:nth-child(2)>p{
    font-size: 16px;
    color: #3391FF;
}

body>main>section:nth-child(2)>h1{
    margin-top: -20px;
    font-size: 3.4vw;
    color: black;
}

body>main>section:nth-child(2)>section{
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: space-around;

}

body>main>section:nth-child(2)>section>div {
    border: 2px solid rgba(90, 139, 197, 0.28);
    width: 25vw;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(51, 145, 255, 0.31);
    transition: all 1s;
}

body>main>section:nth-child(2)>section>div:hover{
    border: 3px solid rgba(90, 139, 197, 0.28);
    width: 25.5vw;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0 0 40px 2px rgba(51, 145, 255, 7);
    transition: all 1s;
}

body>main>section:nth-child(2)>section>div>h1{
    font-size: 40px;
    font-weight: lighter;

}

body>main>section:nth-child(2)>section>div:nth-child(1)>button{
    width: 10vw;
    height: 4vh;
    background-color: white;
    color: #3391FF;
    border-radius: 8px;
    border: 1px solid #3391FF;

}

body>main>section:nth-child(2)>section>div:nth-child(1)>button>a{
    color: #3391FF;
    text-decoration: none;
    font-size: 1vw;
}

body>main>section:nth-child(2)>section>div>p{
    font-size: 1.1vw;
    font-weight: lighter;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>p{
    text-align: left;
    margin-left: 60px;
    font-weight: lighter;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>p>span{
    font-weight: 600;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3){
    margin-top: 30px;
    margin-left: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4){
    margin-top: 30px;
    margin-left: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>hr{
    width: 5vw;
    height: 2px;
    background-color: #3391FF;
    margin-top: -10px;

}

body>main>section:nth-child(2)>section>div:nth-child(2)>hr{
    width: 5vw;
    height: 2px;
    background-color: #3391FF;
    margin-top: -10px;

}
body>main>section:nth-child(2)>section>div:nth-child(1)>hr{
    width: 5vw;
    height: 2px;
    background-color: #3391FF;
    margin-top: -10px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3)>img{
    display: block;
    margin-top: 30px;
    margin-left: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4){
    display: block;
    margin-top: -215px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3){
    display: block;
    margin-top: 60px;
}


body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p{
    font-size: 1.5vw;
    margin-top: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(1){
    margin-left: -50px;
}


body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(2){
    margin-left: 10px;
}

body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(3){
    margin-left: 40px;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>img{
    position: relative;
}
body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(8){
    left: -3.5vw;
    top :1vh;
}

body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(9){
    left: -1vw;
    top :1vh;

}

body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(10){
    left: 1vw;
    top :1vh;

}

body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(11){
    left: 3.3vw;
    top :1vh;
}

body>main>section:nth-child(3)>section>div{
    margin-left: 5vw;
    position: relative;
    display: inline-block;
    width: 40vw;
    height: 30vh;
    left: 3.5vw;
    transition: all 1s;

}

body>main>section:nth-child(3)>section>div:hover{
    margin-left: 5vw;
    position: relative;
    display: inline-block;
    width: 40vw;
    height: 30vh;
    left: 3.5vw;
    box-shadow: 0 0 30px 0 rgba(51, 145, 255, 4);
    border-radius: 10px;
    transition: all 1s;
}

body>main>section:nth-child(3)>h1{
    text-align: center;
    font-size: 3.4vw;
}

body>main>section:nth-child(3)>section>div>div{
    width: 5vw;
    height: 8vh;
    display: inline-block;
    box-shadow: 0 0 10px 2px rgba(51, 145, 255, 0.4);
    border-radius: 10px;
    transition: all 0.9s;

}

body>main>section:nth-child(3)>section>div>div:hover{
    width: 5vw;
    height: 8vh;
    display: inline-block;
    box-shadow: 0 0 20px 2px rgba(51, 145, 255, 4);
    border-radius: 10px;
    transition: all 0.9s;

}

body>main>section:nth-child(3)>section>div>div>img{
    width: 3vw;
    height: 5vh;
    margin-top: 12px;
    margin-left: 15px;
    display: inline-block;
}
body>main>section:nth-child(3)>section>div>h1{
    display: inline-block;
}

body>main>section:nth-child(3)>section>div:nth-child(2){
    top: 18px;
}


body>main>section:nth-child(3)>section>div:nth-child(4){
    top: 18px;
}

body>main>section:nth-child(3)>section>div:nth-child(1)>h1{
    position: relative;
    left: 3vw;
    top: -2vh;
}

body>main>section:nth-child(3)>hr{
    background-color: #3391FF;
    height: 5px;
    width: 7vw;
    margin-top: -10px;
}

body>main>section:nth-child(3)>section{
    margin-top: 70px;
}

body>main>section:nth-child(3)>section>div:nth-child(2)>h1{
    position: relative;
    left: 3vw;
    top: -2vh;
}

body>main>section:nth-child(3)>section>div:nth-child(3)>h1{
    position: relative;
    left: 3vw;
    top: -2vh;
}

body>main>section:nth-child(3)>section>div:nth-child(4)>h1{
    position: relative;
    left: 3vw;
    top: -2vh;
}

body>main>section:nth-child(3)>section>div:nth-child(4)>p{
    position: relative;
    left: 8vw;
    top: -5vh;
    font-size: 1.2vw;
    display: inline-block;
}

body>main>section:nth-child(3)>section>div:nth-child(3)>p{
    position: relative;
    left: 8vw;
    top: -5vh;
    font-size: 1.2vw;
    display: inline-block;
}

body>main>section:nth-child(3)>section>div:nth-child(2)>p{
    position: relative;
    left: 8vw;
    top: -5vh;
    font-size: 1.2vw;
    display: inline-block;
}

body>main>section:nth-child(3)>section>div:nth-child(1)>p{
    position: relative;
    left: 8vw;
    top: -5vh;
    font-size: 1.2vw;
    display: inline-block;
}

body>main>section:nth-child(4)>h1{
    text-align: center;
    font-size: 3.4vw;
    margin-top: -20px;
}

body>main>section:nth-child(4)>section{
    margin-top: 100px;
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
}

body>main>section:nth-child(4)>section>div{
    width: 5vw;
    height: 8vh;
    border: 1px solid rgba(51, 145, 255, 0.47);
    border-radius: 8px;
    box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
    transition: all 0.5s;
}

body>main>section:nth-child(4)>section>div:hover{
    width: 5.2vw;
    height: 8.2vh;
    border: 1px solid rgba(51, 145, 255, 4);
    border-radius: 8px;
    box-shadow: 0 0 30px 0 rgba(51, 145, 255, 4);
    transition: all 0.5s;
}

body>main>section:nth-child(4)>section>div:hover>img{
    width: 3.2vw;
    position: relative;
    left: 16px;
    top: 10px;
    transition: all 0.5s;
}

body>main>section:nth-child(4)>section>div>img{
    width: 3vw;
    position: relative;
    left: 16px;
    top: 10px;
    transition: all 0.5s;

}

body>main>section:nth-child(4)>div:nth-child(4){
    position: relative;
    top:50px;
    left: 41vw;
    width: 5vw;
    height: 8vh;
    border: 1px solid rgba(51, 145, 255, 0.47);
    border-radius: 8px;
    box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
    transition: all 0.5s;


}

body>main>section:nth-child(4)>div:nth-child(4):hover{
    position: relative;
    top:50px;
    left: 41vw;
    width: 5.2vw;
    height: 8.2vh;
    border: 1px solid rgba(51, 145, 255, 4);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(51, 145, 255, 4);
    transition: all 0.5s;


}
body>main>section:nth-child(4)>div:nth-child(4):hover>img{
    width: 3.2vw;
    position: relative;
    top: 10px;
    left: 0.9vw;
    transition: all 0.5s;

}

body>main>section:nth-child(4)>div:nth-child(4)>img{
    width: 3vw;
    position: relative;
    top: 10px;
    left: 0.9vw;
    transition: all 0.5s;

}
body>main>section:nth-child(4)>div:nth-child(5){
    position: relative;
    left: 57vw;
    top: -27px;
    width: 5vw;
    height: 8vh;
    border: 1px solid rgba(51, 145, 255, 0.47);
    border-radius: 8px;
    box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
    transition: all 0.5s;


}

body>main>section:nth-child(4)>div:nth-child(5):hover{
    position: relative;
    left: 57vw;
    top: -27px;
    width: 5.2vw;
    height: 8.2vh;
    border: 1px solid rgba(51, 145, 255, 4);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(51, 145, 255, 4);
    transition: all 0.5s;

}

body>main>section:nth-child(4)>div:nth-child(5):hover>img{
    width: 3.2vw;
    position: relative;
    top: 10px;
    left: 0.9vw;
    transition: all 0.5s;
}

body>main>section:nth-child(4)>div:nth-child(5)>img{
    width: 3vw;
    position: relative;
    top: 10px;
    left: 0.9vw;
    transition: all 0.5s;
}



body>main>section:nth-child(4)>p{
    text-align: center;
    color: #3391FF;
    font-size: 1.4vw;
}
body>main>section:nth-child(5){
    margin-top: 200px;
}

body>main>section:nth-child(5)>aside>div{
    position: relative;
    width: 27vw;
    height: 55vh;
    background-color: #0D1E32;
    border-radius: 12px;
    left: 110px;
    box-shadow: 0 4px 40px 0 rgba(51, 145, 255, 100);
}
body>main>section:nth-child(5)>aside>div>img{
    position: relative;
    width: 27vw;
    top: -91px;
    left: -2vw;
}

body>main>section:nth-child(5)>div:nth-child(2){
    position: relative;
    left: 50vw;
    top: -46.5vh;
    display: inline-block;
}



body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(1){
    width: 0.1vw;
    height: 35vh;
    background-color: #3391FF;
    display: inline-block;

}

body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    width: 1vw;
    height: 1.7vh;
    background-color: #3391FF;
    border-radius: 100%;
    top: 0;
    left: -0.4vw;
    display: inline-block;
}

body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(3){
    position: relative;
    width: 1vw;
    height: 1.7vh;
    background-color: #3391FF;
    border-radius: 100%;
    bottom: 13vh;
    left: -0.8vw;
    display: inline-block;


}

body>main>section:nth-child(5)>div:nth-child(3){

    position: relative;
    display: inline-block;
    top: -50vh;
    left: 50vw;
}

body>main>section:nth-child(5)>div:nth-child(3)>h1{
    position: relative;
    font-size: 3.4vw;
    top: -8vh;
    left: -7vw;
}

body>main>section:nth-child(5)>div:nth-child(3)>h1>span{
    color: #3391FF;
}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(1){
    position: relative;
    top: -40px;
    font-size: 1vw;
    color: #3391FF;
}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(2){
    position: relative;
    top: -50px;
    font-size: 1.2vw;
    font-weight: bolder;
}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(3){
    position: relative;
    top: -50px;
    font-size: 1vw;
}
body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(4){
    position: relative;
    top: -50px;
    font-size: 1vw;
}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(1){
    position: relative;
    top: -6px;
    font-size: 1vw;
    color:#3391FF;
}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(2){
    position: relative;
    top: -15px;
    font-size: 1.2vw;
    font-weight: bolder;

}
body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(3){
    position: relative;
    top: -15px;
    font-size: 1vw;

}

body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(4){
    position: relative;
    top: -15px;
    font-size: 1vw;

}

body>main>section:nth-child(6){
    margin-top: -300px;
}

body>main>section:nth-child(6)>{
    margin-top: -300px;
}

body>main>section:nth-child(6)>h1:nth-child(2){
    text-align: center;
    font-size: 3.4vw;
    z-index: 500;
    position: relative;
    margin-bottom: 150px;
}

body>main>section:nth-child(6)>div:nth-child(4){
    position: relative;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    display: inline-block;
}

body>main>section:nth-child(6)>div:nth-child(4)>img{
    width: 50vw;
    height: 50vh;
}

body>main>section:nth-child(6)>button:nth-child(5){
    position: relative;
    width: 3vw;
    height: 5.2vh;
    border-radius: 100%;
    left: 18vw;
    top: -25vh;
    color: #3391FF;
    font-weight: 500;
    border: 2px solid #3391FF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Add a shadow to the button */

}

body>main>section:nth-child(6)>button:nth-child(6){
    position: relative;
    width: 3vw;
    height: 5.2vh;
    border-radius: 100%;
    top: -25vh;
    left: -25vw;
    color: #3391FF;
    font-weight: 500;
    border: 2px solid #3391FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Add a shadow to the button */
}

body>main>section:nth-child(6)>h1:nth-child(1){
    position: relative;
    font-size: 12vw;
    color: gainsboro;
    left: 21vw;
    margin: 0;
    top: 99px;
    display: inline-block;
}

body>main>section:nth-child(7)>h1:nth-child(1){
    position: relative;
    font-size: 12vw;
    color: gainsboro;
    left: 21vw;
    margin: 0;
    top: 99px;
    display: inline-block;
}

body>main>section:nth-child(7)>h1:nth-child(2){
    text-align: center;
    font-size: 3.4vw;
    z-index: 500;
    position: relative;
    margin-bottom: 150px;
}

body>main>section:nth-child(6)>button:nth-child(7){

    height: 4vh;
    width: 12vw;
    position: relative;
    border: 2px solid #3391FF;
    box-shadow: 0 5px 10px 0 rgba(51, 145, 255, 1);
    border-radius: 12px;
    top:10vh;
    left: -12vw;
    background-color: white;
    color: #3391FF;
}


body>main>section:nth-child(6)>button:nth-child(7):hover{

    height: 4vh;
    width: 12vw;
    position: relative;
    border: 2px solid white;
    box-shadow: 0 5px 10px 0 rgba(51, 145, 255, 1);
    border-radius: 12px;
    top:10vh;
    left: -12vw;
    background-color: #3391FF;
    color: white;
}

body>main>section:nth-child(7){
    margin-top: 300px;
    width: 100%;
    height: 100%;
}


body>main>section:nth-child(7)>section{
    position: relative;
    left: 14vw;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

body>main>section:nth-child(7)>section>div{
    border-radius: 20px;
    border: 1px solid #3391FF;
    box-shadow: 0 5px 30px 0 rgba(51, 145, 255, 0.5);



}

body>main>section:nth-child(7)>section>div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background: url("/assets/images/image_1.jpeg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(3){
    background: url("/assets/images/image_6.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(2){
    background: url("/assets/images/image_3.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(6){
    background: url("/assets/images/image_4.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(4){

    background: url("/assets/images/image_5.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(5){
    grid-column: 3/4;
    grid-row: 2/4;

    background: url("/assets/images/image_2.jpeg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(7)>section>div:nth-child(7){

    background: url("/assets/images/image_6.jpeg");
    background-size: cover;
    background-position: center;

}

body>main>section:nth-child(7)>section>div:nth-child(8){
border: 0;
}

body>main>section:nth-child(7)>section>div:nth-child(9){
    border: 0;
}

body>main>section:nth-child(8)>h1:nth-child(1){
    position: relative;
    font-size: 12vw;
    color: gainsboro;
    left: 21vw;
    margin: 0;
    top: 99px;
    display: inline-block;
}

body>main>section:nth-child(8)>h1:nth-child(2){
    text-align: center;
    font-size: 3.4vw;
    z-index: 500;
    position: relative;
    margin-bottom: 150px;
}

body>main>section:nth-child(8)>section{
display: flex;
    justify-content: space-around;
}
body>main>section:nth-child(8)>section>div:nth-child(2){
    width: 60%;
    height: 70vh;
    background-color:white;
    border-radius: 20px;
    border :1px solid #3391FF;
    box-shadow:  0 4px 20px rgba(51, 145, 255, 0.7);

}

body>main>section:nth-child(8)>section>div:nth-child(2)>input,label,textarea{
    margin-top: 10px;
    position: relative;
    left: 70px;
    top:30px
}

body>main>section:nth-child(8)>section>div:nth-child(2)>label{
    font-size: 0.8vw;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>input{
    width: 23.2vw;
    height: 4.5vh;
    border-radius: 8px;
    box-shadow: inset 0 4px 10px rgba(51, 145, 255, 0.5);
    border: none;
    background-color: #E5E5E5;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>input:nth-child(10){
    width: 50vw;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>input:nth-child(15){
    width: 50vw;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>textarea:nth-child(20){
    width: 50vw;
    height: 20vh;
    border-radius: 8px;
    box-shadow: inset 0 4px 10px rgba(51, 145, 255, 0.5);
    border: none;
    background-color: #E5E5E5;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>label:nth-child(2){
    left: 310px;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>button:nth-child(21){
    position: relative;
    top: 50px;
    width: 50vw;
    height: 5vh;
    left: 4.5vw;
    border-radius: 8px;
    box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
    border: none;
    background-color: #E5E5E5;
    color: #3391FF;
    transition: 1s;
    cursor: pointer;
}

body>main>section:nth-child(8)>section>div:nth-child(2)>button:nth-child(21):hover{
    position: relative;
    top: 50px;
    width: 50vw;
    height: 5vh;
    left: 4.5vw;
    border-radius: 8px;
    box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
    border: none;
    background-color: #3391FF;
    color: white;
    transition: all 1s;
}


body>main>section:nth-child(8)>section>div:nth-child(1){

    width: 25vw;
    box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
    height: 70vh;
    border-radius: 12px;
    border: 1px solid #3391FF;
}

body>main>section:nth-child(8)>section>div:nth-child(1)>img,article{
    position: relative;
    left: 50px;
    top: 30px;
    font-size: 1.1vw;
}

body>main>section:nth-child(8)>section>div:nth-child(1)>article>h4{
    font-size: 1.3vw;
}

body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(3){
    margin-right: 30px;
    margin-left: 35px;

}
body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(4){
    margin-right: 30px;
}
body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(5){
    margin-right: 30px;
}

body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(6){
    margin-right: 30px;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: #3391FF;
    text-align: center;
    margin-top: 50px;
    color: white;


}

footer>h1{
    position: relative;
    top: 10px;
    letter-spacing: 1em;
    font-size: 0.7vw;
}

@media all and (min-width: 0) and (max-width: 320px){


    header{
        position: fixed;
        width: 100%;
        height: 7vh;
        opacity: 0.7;
        background-color: #3391FF;
        border: 1px solid blue;
        z-index: 100000;

    }

    header>img{
        width: 10vw;
        height: 5vh;
        position: relative;
        top: 10px;
        left: 15px;
        display: inline-block;
    }
    header>ul>li{
        display: inline-block;
        padding-left: 5vw;
        list-style: none;
        text-decoration: none;
        color:white;
        font-weight: bolder;
    }

    header>ul>li>a{
        font-size: 3vw;
        text-decoration: none;
        color: white;
        opacity: 100;

    }

    header>ul{
        position: absolute;
        top: 10px;
        right: 10vw;
        list-style: none;
        color: white;

    }


    body{
        background-color: white;
    }

    body>main>section:nth-child(1){
        margin-top: 0;
        width: 100%;
        height: 110vh;
    }

    body>main>section:nth-child(1)>img:nth-child(3){
        display: inline-block;
        margin-top: -150px;
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    body>main>section:nth-child(1)>img:nth-child(4){
        top:-74.5vh;
        left: 69vw;
        position: relative;
        width: 30vw;
        height: 74vh;
    }

    body>main>section:nth-child(1)>hgroup{
        position: absolute;
        top: 400px;
        left: 300px;
    }

    body>main>section:nth-child(1)>hgroup>p:nth-child(1){
        margin-bottom: 80px;
        font-size: 4vw;
        -webkit-text-fill-color: white;
        margin-top: -50px;
        font-weight: 1;
        letter-spacing: 0.2em;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */


    }

    body>main>section:nth-child(1)>hgroup>h2{
        font-size: 5vw;
        font-weight: bolder;
        -webkit-text-fill-color: white;
        margin-top: -70px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */

    }

    body>main>section:nth-child(1)>hgroup>p:nth-child(4){
        font-size: 2vw;
        -webkit-text-fill-color: white;
        margin-top: -50px;
        letter-spacing: 0.3em;
        font-weight: 1;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 4); /* Add a small dark shadow */

    }

    body>main>section:nth-child(1)>hgroup>button{
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        -webkit-text-fill-color: white;
        font-size: 1.5vw;
        width: 15vw;
        height: 5vh;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 4); /* Add a small dark shadow */


    }

    body>main>section:nth-child(1)>hgroup>button>a{
        color: white;
        text-decoration: none;

    }

    body>main>section:nth-child(2){
        text-align: center;
        width: 100vw;
        height: 70vh;
        margin-top: -100px;
    }

    body>main>section:nth-child(2)>p{
        font-size: 16px;
        color: #3391FF;
    }

    body>main>section:nth-child(2)>h1{
        margin-top: -20px;
        font-size: 3.4vw;
        color: black;
    }

    body>main>section:nth-child(2)>section{
        display: flex;
        width: 100vw;
        height: 40vh;
        justify-content: space-around;

    }

    body>main>section:nth-child(2)>section>div {
        border: 2px solid rgba(90, 139, 197, 0.28);
        width: 25vw;
        height: 45vh;
        border-radius: 10px;
        box-shadow: 0 0 20px 2px rgba(51, 145, 255, 0.31);
        transition: all 1s;
    }

    body>main>section:nth-child(2)>section>div:hover{
        border: 3px solid rgba(90, 139, 197, 0.28);
        width: 25.5vw;
        height: 45vh;
        border-radius: 10px;
        box-shadow: 0 0 40px 2px rgba(51, 145, 255, 7);
        transition: all 1s;
    }

    body>main>section:nth-child(2)>section>div>h1{
        font-size: 40px;
        font-weight: lighter;

    }

    body>main>section:nth-child(2)>section>div:nth-child(1)>button{
        width: 10vw;
        height: 4vh;
        background-color: white;
        color: #3391FF;
        border-radius: 8px;
        border: 1px solid #3391FF;

    }

    body>main>section:nth-child(2)>section>div:nth-child(1)>button>a{
        color: #3391FF;
        text-decoration: none;
        font-size: 1vw;
    }

    body>main>section:nth-child(2)>section>div>p{
        font-size: 1.1vw;
        font-weight: lighter;
    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>p{
        text-align: left;
        margin-left: 60px;
        font-weight: lighter;
    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>p>span{
        font-weight: 600;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3){
        margin-top: 30px;
        margin-left: 40px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4){
        margin-top: 30px;
        margin-left: 40px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>hr{
        width: 5vw;
        height: 2px;
        background-color: #3391FF;
        margin-top: -10px;

    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>hr{
        width: 5vw;
        height: 2px;
        background-color: #3391FF;
        margin-top: -10px;

    }
    body>main>section:nth-child(2)>section>div:nth-child(1)>hr{
        width: 5vw;
        height: 2px;
        background-color: #3391FF;
        margin-top: -10px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3)>img{
        display: block;
        margin-top: 30px;
        margin-left: 40px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4){
        display: block;
        margin-top: -215px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(3){
        display: block;
        margin-top: 60px;
    }


    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p{
        font-size: 1.5vw;
        margin-top: 40px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(1){
        margin-left: -50px;
    }


    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(2){
        margin-left: 10px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(3)>div:nth-child(4)>p:nth-child(3){
        margin-left: 40px;
    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>img{
        position: relative;
    }
    body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(8){
        left: -3.5vw;
        top :1vh;
    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(9){
        left: -1vw;
        top :1vh;

    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(10){
        left: 1vw;
        top :1vh;

    }

    body>main>section:nth-child(2)>section>div:nth-child(2)>img:nth-child(11){
        left: 3.3vw;
        top :1vh;
    }

    body>main>section:nth-child(3)>section>div{
        margin-left: 5vw;
        position: relative;
        display: inline-block;
        width: 40vw;
        height: 30vh;
        left: 3.5vw;
        transition: all 1s;

    }

    body>main>section:nth-child(3)>section>div:hover{
        margin-left: 5vw;
        position: relative;
        display: inline-block;
        width: 40vw;
        height: 30vh;
        left: 3.5vw;
        box-shadow: 0 0 30px 0 rgba(51, 145, 255, 4);
        border-radius: 10px;
        transition: all 1s;
    }

    body>main>section:nth-child(3)>h1{
        text-align: center;
        font-size: 3.4vw;
    }

    body>main>section:nth-child(3)>section>div>div{
        width: 5vw;
        height: 8vh;
        display: inline-block;
        box-shadow: 0 0 10px 2px rgba(51, 145, 255, 0.4);
        border-radius: 10px;
        transition: all 0.9s;

    }

    body>main>section:nth-child(3)>section>div>div:hover{
        width: 5vw;
        height: 8vh;
        display: inline-block;
        box-shadow: 0 0 20px 2px rgba(51, 145, 255, 4);
        border-radius: 10px;
        transition: all 0.9s;

    }

    body>main>section:nth-child(3)>section>div>div>img{
        width: 3vw;
        height: 5vh;
        margin-top: 12px;
        margin-left: 15px;
        display: inline-block;
    }
    body>main>section:nth-child(3)>section>div>h1{
        display: inline-block;
    }

    body>main>section:nth-child(3)>section>div:nth-child(2){
        top: 18px;
    }


    body>main>section:nth-child(3)>section>div:nth-child(4){
        top: 18px;
    }

    body>main>section:nth-child(3)>section>div:nth-child(1)>h1{
        position: relative;
        left: 3vw;
        top: -2vh;
    }

    body>main>section:nth-child(3)>hr{
        background-color: #3391FF;
        height: 5px;
        width: 7vw;
        margin-top: -10px;
    }

    body>main>section:nth-child(3)>section{
        margin-top: 70px;
    }

    body>main>section:nth-child(3)>section>div:nth-child(2)>h1{
        position: relative;
        left: 3vw;
        top: -2vh;
    }

    body>main>section:nth-child(3)>section>div:nth-child(3)>h1{
        position: relative;
        left: 3vw;
        top: -2vh;
    }

    body>main>section:nth-child(3)>section>div:nth-child(4)>h1{
        position: relative;
        left: 3vw;
        top: -2vh;
    }

    body>main>section:nth-child(3)>section>div:nth-child(4)>p{
        position: relative;
        left: 8vw;
        top: -5vh;
        font-size: 1.2vw;
        display: inline-block;
    }

    body>main>section:nth-child(3)>section>div:nth-child(3)>p{
        position: relative;
        left: 8vw;
        top: -5vh;
        font-size: 1.2vw;
        display: inline-block;
    }

    body>main>section:nth-child(3)>section>div:nth-child(2)>p{
        position: relative;
        left: 8vw;
        top: -5vh;
        font-size: 1.2vw;
        display: inline-block;
    }

    body>main>section:nth-child(3)>section>div:nth-child(1)>p{
        position: relative;
        left: 8vw;
        top: -5vh;
        font-size: 1.2vw;
        display: inline-block;
    }

    body>main>section:nth-child(4)>h1{
        text-align: center;
        font-size: 3.4vw;
        margin-top: -20px;
    }

    body>main>section:nth-child(4)>section{
        margin-top: 100px;
        display: flex;
        width: 100vw;
        height: 10vh;
        justify-content: space-around;
    }

    body>main>section:nth-child(4)>section>div{
        width: 5vw;
        height: 8vh;
        border: 1px solid rgba(51, 145, 255, 0.47);
        border-radius: 8px;
        box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
        transition: all 0.5s;
    }

    body>main>section:nth-child(4)>section>div:hover{
        width: 5.2vw;
        height: 8.2vh;
        border: 1px solid rgba(51, 145, 255, 4);
        border-radius: 8px;
        box-shadow: 0 0 30px 0 rgba(51, 145, 255, 4);
        transition: all 0.5s;
    }

    body>main>section:nth-child(4)>section>div:hover>img{
        width: 3.2vw;
        position: relative;
        left: 16px;
        top: 10px;
        transition: all 0.5s;
    }

    body>main>section:nth-child(4)>section>div>img{
        width: 3vw;
        position: relative;
        left: 16px;
        top: 10px;
        transition: all 0.5s;

    }

    body>main>section:nth-child(4)>div:nth-child(4){
        position: relative;
        top:50px;
        left: 41vw;
        width: 5vw;
        height: 8vh;
        border: 1px solid rgba(51, 145, 255, 0.47);
        border-radius: 8px;
        box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
        transition: all 0.5s;


    }

    body>main>section:nth-child(4)>div:nth-child(4):hover{
        position: relative;
        top:50px;
        left: 41vw;
        width: 5.2vw;
        height: 8.2vh;
        border: 1px solid rgba(51, 145, 255, 4);
        border-radius: 8px;
        box-shadow: 0 0 20px 0 rgba(51, 145, 255, 4);
        transition: all 0.5s;


    }
    body>main>section:nth-child(4)>div:nth-child(4):hover>img{
        width: 3.2vw;
        position: relative;
        top: 10px;
        left: 0.9vw;
        transition: all 0.5s;

    }

    body>main>section:nth-child(4)>div:nth-child(4)>img{
        width: 3vw;
        position: relative;
        top: 10px;
        left: 0.9vw;
        transition: all 0.5s;

    }
    body>main>section:nth-child(4)>div:nth-child(5){
        position: relative;
        left: 57vw;
        top: -27px;
        width: 5vw;
        height: 8vh;
        border: 1px solid rgba(51, 145, 255, 0.47);
        border-radius: 8px;
        box-shadow: 0 0 20px 3px rgba(51, 145, 255, 0.4);
        transition: all 0.5s;


    }

    body>main>section:nth-child(4)>div:nth-child(5):hover{
        position: relative;
        left: 57vw;
        top: -27px;
        width: 5.2vw;
        height: 8.2vh;
        border: 1px solid rgba(51, 145, 255, 4);
        border-radius: 8px;
        box-shadow: 0 0 20px 0 rgba(51, 145, 255, 4);
        transition: all 0.5s;

    }

    body>main>section:nth-child(4)>div:nth-child(5):hover>img{
        width: 3.2vw;
        position: relative;
        top: 10px;
        left: 0.9vw;
        transition: all 0.5s;
    }

    body>main>section:nth-child(4)>div:nth-child(5)>img{
        width: 3vw;
        position: relative;
        top: 10px;
        left: 0.9vw;
        transition: all 0.5s;
    }



    body>main>section:nth-child(4)>p{
        text-align: center;
        color: #3391FF;
        font-size: 1.4vw;
    }
    body>main>section:nth-child(5){
        margin-top: 200px;
    }

    body>main>section:nth-child(5)>aside>div{
        position: relative;
        width: 27vw;
        height: 55vh;
        background-color: #0D1E32;
        border-radius: 12px;
        left: 110px;
        box-shadow: 0 4px 40px 0 rgba(51, 145, 255, 100);
    }
    body>main>section:nth-child(5)>aside>div>img{
        position: relative;
        width: 27vw;
        top: -91px;
        left: -2vw;
    }

    body>main>section:nth-child(5)>div:nth-child(2){
        position: relative;
        left: 50vw;
        top: -46.5vh;
        display: inline-block;
    }



    body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(1){
        width: 0.1vw;
        height: 35vh;
        background-color: #3391FF;
        display: inline-block;

    }

    body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(2){
        position: absolute;
        width: 1vw;
        height: 1.7vh;
        background-color: #3391FF;
        border-radius: 100%;
        top: 0;
        left: -0.4vw;
        display: inline-block;
    }

    body>main>section:nth-child(5)>div:nth-child(2)>div:nth-child(3){
        position: relative;
        width: 1vw;
        height: 1.7vh;
        background-color: #3391FF;
        border-radius: 100%;
        bottom: 13vh;
        left: -0.8vw;
        display: inline-block;


    }

    body>main>section:nth-child(5)>div:nth-child(3){

        position: relative;
        display: inline-block;
        top: -50vh;
        left: 50vw;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>h1{
        position: relative;
        font-size: 3.4vw;
        top: -8vh;
        left: -7vw;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>h1>span{
        color: #3391FF;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(1){
        position: relative;
        top: -40px;
        font-size: 1vw;
        color: #3391FF;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(2){
        position: relative;
        top: -50px;
        font-size: 1.2vw;
        font-weight: bolder;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(3){
        position: relative;
        top: -50px;
        font-size: 1vw;
    }
    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(1)>p:nth-child(4){
        position: relative;
        top: -50px;
        font-size: 1vw;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(1){
        position: relative;
        top: -6px;
        font-size: 1vw;
        color:#3391FF;
    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(2){
        position: relative;
        top: -15px;
        font-size: 1.2vw;
        font-weight: bolder;

    }
    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(3){
        position: relative;
        top: -15px;
        font-size: 1vw;

    }

    body>main>section:nth-child(5)>div:nth-child(3)>article>div:nth-child(2)>p:nth-child(4){
        position: relative;
        top: -15px;
        font-size: 1vw;

    }

    body>main>section:nth-child(6){
        margin-top: -300px;
    }

    body>main>section:nth-child(6)>{
        margin-top: -300px;
    }

    body>main>section:nth-child(6)>h1:nth-child(2){
        text-align: center;
        font-size: 3.4vw;
        z-index: 500;
        position: relative;
        margin-bottom: 150px;
    }

    body>main>section:nth-child(6)>div:nth-child(4){
        position: relative;
        left: 25vw;
        width: 50vw;
        height: 50vh;
        display: inline-block;
    }

    body>main>section:nth-child(6)>div:nth-child(4)>img{
        width: 50vw;
        height: 50vh;
    }

    body>main>section:nth-child(6)>button:nth-child(5){
        position: relative;
        width: 3vw;
        height: 5.2vh;
        border-radius: 100%;
        left: 18vw;
        top: -25vh;
        color: #3391FF;
        font-weight: 500;
        border: 2px solid #3391FF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Add a shadow to the button */

    }

    body>main>section:nth-child(6)>button:nth-child(6){
        position: relative;
        width: 3vw;
        height: 5.2vh;
        border-radius: 100%;
        top: -25vh;
        left: -25vw;
        color: #3391FF;
        font-weight: 500;
        border: 2px solid #3391FF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Add a shadow to the button */
    }

    body>main>section:nth-child(6)>h1:nth-child(1){
        position: relative;
        font-size: 12vw;
        color: gainsboro;
        left: 21vw;
        margin: 0;
        top: 99px;
        display: inline-block;
    }

    body>main>section:nth-child(7)>h1:nth-child(1){
        position: relative;
        font-size: 12vw;
        color: gainsboro;
        left: 21vw;
        margin: 0;
        top: 99px;
        display: inline-block;
    }

    body>main>section:nth-child(7)>h1:nth-child(2){
        text-align: center;
        font-size: 3.4vw;
        z-index: 500;
        position: relative;
        margin-bottom: 150px;
    }

    body>main>section:nth-child(6)>button:nth-child(7){

        height: 4vh;
        width: 12vw;
        position: relative;
        border: 2px solid #3391FF;
        box-shadow: 0 5px 10px 0 rgba(51, 145, 255, 1);
        border-radius: 12px;
        top:10vh;
        left: -12vw;
        background-color: white;
        color: #3391FF;
    }


    body>main>section:nth-child(6)>button:nth-child(7):hover{

        height: 4vh;
        width: 12vw;
        position: relative;
        border: 2px solid white;
        box-shadow: 0 5px 10px 0 rgba(51, 145, 255, 1);
        border-radius: 12px;
        top:10vh;
        left: -12vw;
        background-color: #3391FF;
        color: white;
    }

    body>main>section:nth-child(7){
        margin-top: 300px;
        width: 100%;
        height: 100%;
    }


    body>main>section:nth-child(7)>section{
        position: relative;
        left: 14vw;
        width: 80vw;
        height: 80vh;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }

    body>main>section:nth-child(7)>section>div{
        border-radius: 20px;
        border: 1px solid #3391FF;
        box-shadow: 0 5px 30px 0 rgba(51, 145, 255, 0.5);



    }

    body>main>section:nth-child(7)>section>div:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
        background: url("/assets/images/image_1.jpeg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(3){
        background: url("/assets/images/image_6.jpg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(2){
        background: url("/assets/images/image_3.jpg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(6){
        background: url("/assets/images/image_4.jpg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(4){

        background: url("/assets/images/image_5.jpg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(5){
        grid-column: 3/4;
        grid-row: 2/4;

        background: url("/assets/images/image_2.jpeg");
        background-size: cover;
        background-position: center;
    }

    body>main>section:nth-child(7)>section>div:nth-child(7){

        background: url("/assets/images/image_6.jpeg");
        background-size: cover;
        background-position: center;

    }

    body>main>section:nth-child(7)>section>div:nth-child(8){
        border: 0;
    }

    body>main>section:nth-child(7)>section>div:nth-child(9){
        border: 0;
    }

    body>main>section:nth-child(8)>h1:nth-child(1){
        position: relative;
        font-size: 12vw;
        color: gainsboro;
        left: 21vw;
        margin: 0;
        top: 99px;
        display: inline-block;
    }

    body>main>section:nth-child(8)>h1:nth-child(2){
        text-align: center;
        font-size: 3.4vw;
        z-index: 500;
        position: relative;
        margin-bottom: 150px;
    }

    body>main>section:nth-child(8)>section{
        display: flex;
        justify-content: space-around;
    }
    body>main>section:nth-child(8)>section>div:nth-child(2){
        width: 60%;
        height: 70vh;
        background-color:white;
        border-radius: 20px;
        border :1px solid #3391FF;
        box-shadow:  0 4px 20px rgba(51, 145, 255, 0.7);

    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>input,label,textarea{
        margin-top: 10px;
        position: relative;
        left: 70px;
        top:30px
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>label{
        font-size: 0.8vw;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>input{
        width: 23.2vw;
        height: 4.5vh;
        border-radius: 8px;
        box-shadow: inset 0 4px 10px rgba(51, 145, 255, 0.5);
        border: none;
        background-color: #E5E5E5;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>input:nth-child(10){
        width: 50vw;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>input:nth-child(15){
        width: 50vw;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>textarea:nth-child(20){
        width: 50vw;
        height: 20vh;
        border-radius: 8px;
        box-shadow: inset 0 4px 10px rgba(51, 145, 255, 0.5);
        border: none;
        background-color: #E5E5E5;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>label:nth-child(2){
        left: 310px;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>button:nth-child(21){
        position: relative;
        top: 50px;
        width: 50vw;
        height: 5vh;
        left: 4.5vw;
        border-radius: 8px;
        box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
        border: none;
        background-color: #E5E5E5;
        color: #3391FF;
        transition: 1s;
        cursor: pointer;
    }

    body>main>section:nth-child(8)>section>div:nth-child(2)>button:nth-child(21):hover{
        position: relative;
        top: 50px;
        width: 50vw;
        height: 5vh;
        left: 4.5vw;
        border-radius: 8px;
        box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
        border: none;
        background-color: #3391FF;
        color: white;
        transition: all 1s;
    }


    body>main>section:nth-child(8)>section>div:nth-child(1){

        width: 25vw;
        box-shadow:  0 4px 10px rgba(51, 145, 255, 0.5);
        height: 70vh;
        border-radius: 12px;
        border: 1px solid #3391FF;
    }

    body>main>section:nth-child(8)>section>div:nth-child(1)>img,article{
        position: relative;
        left: 50px;
        top: 30px;
        font-size: 1.1vw;
    }

    body>main>section:nth-child(8)>section>div:nth-child(1)>article>h4{
        font-size: 1.3vw;
    }

    body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(3){
        margin-right: 30px;
        margin-left: 35px;

    }
    body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(4){
        margin-right: 30px;
    }
    body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(5){
        margin-right: 30px;
    }

    body>main>section:nth-child(8)>section>div:nth-child(1)>img:nth-child(6){
        margin-right: 30px;
    }

    footer{
        width: 100%;
        height: 5vh;
        background-color: #3391FF;
        text-align: center;
        margin-top: 50px;
        color: white;


    }

    footer>h1{
        position: relative;
        top: 10px;
        letter-spacing: 1em;
        font-size: 0.7vw;
    }

}
