main{
    border: 1px cyan;
}

body>main>section:nth-child(1){
    position: absolute;
    background: red;
    left: 0;
    top: 0;
    width:50vw;
    height: 50vh;
}

body>main>section:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
    background: green;
    width: 50vw;
    height: 50vh;
}
body>main>section:nth-child(3){
    position: absolute;
    left: 0;
    bottom: 0;
    background: orange;
    width: 50vw;
    height: 50vh;
}
body>main>section:nth-child(4){
    position: absolute;
    right: 0;
    bottom: 0;
    background: deeppink;
    width: 50vw;
    height: 50vh;
}

body>main>section:nth-child(1)>div:nth-child(1){
    position: absolute;
    /*border-radius: 100%;*/
    width: 10vw;
    height: 10vw;
    background: white;
    /*left: -5vw;*/
    /*top: -5vw;*/
    border-bottom-right-radius: 120px;
}

body>main>section:nth-child(1)>div:nth-child(2){
    position: absolute;
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    background: white;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(1)>div:nth-child(2)>div{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: red;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    /*border-radius: 100%;*/
    width: 10vw;
    height: 10vw;
    background: white;
    right: 0;
    border-bottom-left-radius: 120px;


}

body>main>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    background: white;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(2)>div:nth-child(2)>div{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: red;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    background: white;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(3)>div:nth-child(2)>div{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: red;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(4)>div:nth-child(2){
    position: absolute;
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    background: white;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(4)>div:nth-child(2)>div{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: red;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body>main>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    /*border-radius: 100%;*/
    width: 10vw;
    height: 10vw;
    background: white;
    left:0;
    bottom: 0;
    border-bottom-left-radius: 120px;
    transform: rotate(180deg);


}

body>main>section:nth-child(4)>div:nth-child(1){
    position: absolute;
    /*border-radius: 100%;*/
    width: 10vw;
    height: 10vw;
    bottom: 0;
    right: 0;
    background: white;
    border-bottom-right-radius: 120px;
    transform: rotate(180deg);


}

body>main>div:nth-child(5){
    position: absolute;
    width: 14vw;
    height: 14vw;
    background: white;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

body>main>div:nth-child(5)>div{
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background: red;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

body>main>div:nth-child(6){
    position: absolute;
    width: 12vw;
    height: 6vw;
    background: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

}

body>main>div:nth-child(7){
    position: absolute;
width: 12vw;
    height: 6vw;
    background: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


